---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/questions?site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["javascript","google-chrome-devtools"],"owner":{"reputation":321,"user_id":1004604,"user_type":"registered","accept_rate":73,"profile_image":"https://i.stack.imgur.com/NQ9gf.png?s=128&g=1","display_name":"Moose","link":"http://stackoverflow.com/users/1004604/moose"},"is_answered":false,"view_count":11,"answer_count":1,"score":0,"last_activity_date":1486658098,"creation_date":1486657810,"question_id":42141976,"link":"http://stackoverflow.com/questions/42141976/what-is-this-never-ending-proto-thing-i-see-in-devtools","title":"What
        is this never ending __proto__ thing I see in DevTools?"},{"tags":["angular2","angular2-routing"],"owner":{"reputation":444,"user_id":5809504,"user_type":"registered","accept_rate":50,"profile_image":"https://www.gravatar.com/avatar/b92532a0e6966bed15b4e060d892819d?s=128&d=identicon&r=PG&f=1","display_name":"Smit","link":"http://stackoverflow.com/users/5809504/smit"},"is_answered":false,"view_count":2,"answer_count":0,"score":0,"last_activity_date":1486658094,"creation_date":148665[...]
